# Byte-compiled / optimized / DLL files
__pycache__/
/*/__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Dataset
/tsdata/traffic_signs_test.zip
/tsdata/traffic_signs_train.zip
/tsdata/train/*
/tsdata/test/*
!/tsdata/train/README.txt
!/tsdata/test/README.txt

# Non-Public Stuff
/00_NON-PUBLIC/

# Model checkpoints
/model_chkpts

# Pre-processed cached data
/tsdata/cache__*
